<%layout('layouts/boilerplate')%>

<form action="/addslip" method="post" enctype="multipart/form-data">
  <div class="mb-3" >
    <label for="title" class="form-label" style="color: white;">Title</label>
    <input class="form-control" id="title" rows="3" name="title" style="width: 500px;" required></input>
  </div>
    <div class="mb-3" >
        <label for="text" class="form-label" style="color: white;">Enter text</label>
        <textarea class="form-control" id="text" rows="3" name="text" style="width: 500px;" required></textarea>
      </div>
      <div class="mb-3">
        <input type="file" name="image" id="image" style="color: white;">            
      </div>
      <label for="lock_category" style="color: white;">Security level</label>
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="lock_category" name="active" style="width: 250px;">
        <option value="unsecure" selected>unsecured</option>
        <option value="free">secured</option>
      </select>
      <button class="btn btn-success">Add slip</button>
</form>