<%layout('layouts/boilerplate')%>

<form action="/addslip" method="post">
    <div class="mb-3" >
        <label for="text" class="form-label">Enter text</label>
        <textarea class="form-control" id="text" rows="3" name="text" style="width: 500px;" required></textarea>
      </div>
      <label for="lock_category">Security level</label>
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="lock_category" name="active" style="width: 250px;">
        <option value="unsecure" selected>unsecured</option>
        <option value="free">secured</option>
      </select>
      <button>Add slip</button>
</form>