<%layout('/layouts/boilerplate')%>

<form action="/change/password/part3" method="post">
    <div class="md-6 mb-3">
        <label for="password" class="form-label" style="color: white;">new password</label>
        <input type="password" class="form-control" id="password" style="width: 250px;" name="password">
      </div>

      <div class="md-6 mb-3">
        <label for="newpassword" class="form-label" style="color: white;">re-enter new password</label>
        <input type="password" class="form-control" id="newpassword" style="width: 250px;" name="newpassword">
      </div>

      <button class="btn btn-success">Change Password</button>
</form>