<%layout('/layouts/boilerplate')%>

<form action="/change/password/part2" method="post">
    <div class="md-6 mb-3">
        <label for="email" class="form-label" style="color: white;">email</label>
        <input type="email" class="form-control" id="email" name="email" value=<%=email%> style="width: 250px;" disabled>
      </div>

      <div class="md-6 mb-3">
        <label for="otp" class="form-label" style="color: white;">enter otp</label>
        <input type="text" class="form-control" id="otp" name="otp" style="width: 250px;" required>
      </div>

      <button class="btn btn-success">verify otp</button>
</form>