<%layout('/layouts/boilerplate')%>

<form action="/change/password/part3" method="post">
    <div class="md-6 mb-3">
        <label for="password" class="form-label">password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>

      <div class="md-6 mb-3">
        <label for="newpassword" class="form-label">new password</label>
        <input type="password" class="form-control" id="newpassword" name="newpassword">
      </div>

      <button class="btn btn-success">verify otp</button>
</form>