<%layout('layouts/boilerplate')%>

<form action="/change/password" method="post">
    <div class="md-6 mb-3">
        <label for="email" class="form-label" style="color: white;">email</label>
        <input type="email" class="form-control" id="email" name="email" style="width: 250px;" required>
      </div>

      <!-- <div class="md-6 mb-3">
        <label for="password" class="form-label">new password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div> -->

      <button class="btn btn-success">send otp</button>
</form>