<%layout('layouts/boilerplate')%>
<h1 style="color: white;">LOGIN</h1>
<form action="/login" method="post" class="">
    <div class="md-6 mb-3">
        <label for="username" class="form-label" style="color: white;">username</label>
        <input type="text" class="form-control" id="username" name="username" style="width: 250px;" required>
      </div>

      <div class="md-6 mb-3">
        <label for="password" class="form-label" style="color: white;">password</label>
        <input type="password" class="form-control" id="password" name="password" style="width: 250px;" required>
      </div>

      <button class="btn btn-success">Login</button>
      <a href="/change/password/part1" style="margin-left: 60px">forgot password</a>
</form>