<%layout('layouts/boilerplate')%>
<h1 style="color: white;">REGISTER</h1>
<form action="/register" method="post" class="">
    <div class="md-6 mb-3">
        <label for="username" class="form-label" style="color: white;">username</label>
        <input type="text" class="form-control" id="username" name="username" style="width: 250px;" required>
      </div>

    <div class="md-6 mb-3">
        <label for="email" class="form-label" style="color: white;">email</label>
        <input type="email" class="form-control" id="email" name="email" style="width: 250px;" required>
      </div>
 
      <div class="md-6 mb-3">
        <label for="password" class="form-label" style="color: white;">password</label>
        <input type="password" class="form-control" id="password" name="password" style="width: 250px;" required>
      </div>

      <button class="btn btn-success">Register</button>
</form>